.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

section {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: #EDDCC4;
}

section.visible {
    visibility: visible;
}

button {
    background-color: transparent;
    border-color: transparent;
}

#sect3-next,
#sect6-next,
#sect10-next,
#sect11-next,
#sect13-next,
#sect16-next,
#sect23-next,
#sect24-next,
#sect28-next,
#sect29-next,
#sect34-next,
#sect38-next,
#sect44-next,
#sect54-next,
#sect43-next,
#sect53-next {
    background-image: url("assets/right_arrow_black.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 3rem;
    width: 3rem;
    position: absolute;
    right: 1rem;
    bottom: .35rem;
    z-index: 10000;
}

#title-next,
#sect1-next,
#sect2-next,
#sect4-next,
#sect5-next,
#sect7-next,
#sect8-next,
#sect9-next,
#sect12-next,
#sect14-next,
#sect15-next,
#sect17-next,
#sect18-next,
#sect19-next,
#sect20-next,
#sect22-next,
#sect21-next,
#sect5-1-next,
#sect25-next,
#sect26-next,
#sect27-next,
#sect30-next,
#sect31-next,
#sect32-next,
#sect33-next,
#sect35-next,
#sect36-next,
#sect37-next,
#sect39-next,
#sect40-next,
#sect42-next,
#sect45-next,
#sect46-next,
#sect47-next,
#sect48-next,
#sect55-next,
#sect57-next {
    background-image: url("assets/right_arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 3rem;
    width: 3rem;
    position: absolute;
    right: 1rem;
    bottom: .35rem;
    z-index: 10000;
}

#sect3-back,
#sect6-back,
#sect10-back,
#sect11-back,
#sect13-back,
#sect16-back,
#sect23-back,
#sect24-back,
#sect28-back,
#sect29-back,
#sect34-back,
#sect38-back,
#sect43-back,
#sect44-back,
#sect53-back,
#sect54-back,
#sect57-back {
    background-image: url("assets/left_arrow_black.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 3rem;
    width: 3rem;
    position: absolute;
    left: 1rem;
    bottom: .35rem;
    z-index: 10000;
}

#sect1-back,
#sect2-back,
#sect4-back,
#sect5-back,
#sect5-1-back,
#sect7-back,
#sect8-back,
#sect9-back,
#sect12-back,
#sect14-back,
#sect15-back,
#sect17-back,
#sect18-back,
#sect19-back,
#sect20-back,
#sect21-back,
#sect22-back,
#sect25-back,
#sect26-back,
#sect27-back,
#sect30-back,
#sect31-back,
#sect32-back,
#sect33-back,
#sect35-back,
#sect36-back,
#sect37-back,
#sect39-back,
#sect40-back,
#sect42-back,
#sect45-back,
#sect46-back,
#sect47-back,
#sect48-back,
#sect55-back,
#sect56-back {
    background-image: url("assets/left_arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 3rem;
    width: 3rem;
    position: absolute;
    left: 1rem;
    bottom: .35rem;
    z-index: 10000;
}

.text {
    margin: 0% 2% 0% 2%;
    padding: 3% 3% 3% 3%;
    font-family: Sudbury Book;
    font-size: 18px;
    line-height: 20px;
    background-color: #000000;
    color: #fff;
    text-align: left;
}

.title {
    background-image: url("assets/title-slide-bg-mobile.png");
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title h1 {
    margin: 5% 14% 0% 5%;
    font-family: Ultra;
    color: #EDDCC4;
    font-size: 46px;
    text-align: left;
}

.title p {
    position: absolute;
    right: 1rem;
    top: 35rem;
    font-family: Sudbury Book;
    font-weight: bold;
    color: #EDDCC4;
}

.sect-1,
.sect-36 {
    background-image: url("assets/ocean.png");
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sect-36 .text {
    position: relative;
    top: 10%;
}

.quote1 {
    font-weight: 500;
    font-family: 'nyt-cheltenham', georgia, 'times new roman', times, serif;
    font-size: 18px;
    line-height: 22px;
    box-shadow: 10px 6px 0 #000000, -10px -6px 0 #000000, 10px -6px 0 #000000, -10px 6px 0 #000000;
    margin-left: auto;
    margin-right: auto;
    background: #000000;
    letter-spacing: 0;
    border-bottom: none;
    color: #FFFFFF;
    display: block;
    position: relative;
}

.quote5,
.quote6,
.quote56 {
    letter-spacing: 0.01em;
    font-size: 20px;
    line-height: 30px;
    max-width: 660px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    margin-top: 100px;
    color: #fff;
    font-family: 'nyt-cheltenham-sh', 'nyt-cheltenham', georgia, 'times new roman', times, serif;
    font-weight: 100;
    text-align: justify;
}

.quote5 {
    letter-spacing: 0.01em;
    font-size: 20px;
    line-height: 30px;
    max-width: 660px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    margin-top: 100px;
    color: #fff;
    font-family: 'nyt-cheltenham-sh', 'nyt-cheltenham', georgia, 'times new roman', times, serif;
    font-weight: 100;
    text-align: justify;
}

.quote6 {
    letter-spacing: 0.01em;
    font-size: 20px;
    line-height: 30px;
    max-width: 660px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    margin-top: 100px;
    color: #fff;
    font-family: 'nyt-cheltenham-sh', 'nyt-cheltenham', georgia, 'times new roman', times, serif;
    font-weight: 100;
    text-align: justify;
}

.sect-3 iframe, .sect-39 iframe {
    margin-top: 5rem;
    width: 100vw;
    height: 50vh;
}

.sect-3 .text, .sect-39 .text {
    position: relative;
    top: 5%;
}

.video-page {
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: url("assets/zoomed_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.sect-4 {
    background-image: url("assets/4-slide-buffalo.png");
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sect-4 .center {
    position: relative;
    top: -10%;
    width: 18rem;
    height: 18rem;
    background-image: url("assets/4-slide-chair.png");
    background-size: contain;
    margin: 10rem auto;
}

.sect-16 .center {
    position: relative;
    top: -10%;
    width: 18rem;
    height: 18rem;
    background-image: url("assets/16-slide-center.png");
    background-size: contain;
    margin: 10rem auto;
}


.sect-5-1 {
    background-image: url("assets/19-slide-recording.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sect-32 {
    background-image: url("assets/32-slide-background.png");
    background-size: cover;
    background-position: center;
}



.sect-6 img,
.sect-11 img,
.sect-34 img,
.sect-44 img,
.sect-54 img {
    margin-top: 20%;
    width: 100vw;
    height: auto;
}

.sect-6 h1,
.sect-11 h1,
.sect-34 h1,
.sect-44 h1,
.sect-54 h1 {
    margin-top: -62%;
    margin-left: 5%;
    text-align: left;
    font-family: Ultra;
    font-size: 8vw;
    color: #EDDCC4;
    width: 10rem;
}

.sect-7 {
    background-image: url("assets/7-slide-manhattan.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sect-1 .text,
.sect-2 .text,
.sect-7 .text,
.sect-9 .text,
.sect-12 .text,
.sect-15 .text,
.sect-8 .text,
.sect-21 .text,
.sect-23 .text,
.sect-25 .text,
.sect-26 .text,
.sect-30 .text,
.sect-32 .text,
.sect-33 .text,
.sect-35 .text,
.sect-36 .text,
.sect-37 .text,
.sect-40 .text,
.sect-45 .text,
.sect-55 .text {
    position: relative;
    top: 20%;
}

a {
    color: #05E9FF;
}

.sect-4 .text .sect-16 .text,
.sect-38 .text,
.sect-46 .text,
.sect-47 .text,
.sect-48 .text {
    position: relative;
    top: -22%;
}

.sect-5 .text,
.sect-29 .text,
.sect-31 .text {
    position: relative;
    top: 0%;
}

.sect-8 {
    background-image: url("assets/8-slide-recording .png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sect-23 {
    background-image: url("assets/23-slide-earth.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sect-2,
.sect-5,
.sect-9,
.sect-12,
.sect-15,
.sect-17,
.sect-18,
.sect-20,
.sect-22,
.sect-25,
.sect-26,
.sect-30,
.sect-31,
.sect-33,
.sect-35,
.sect-37,
.sect-39,
.sect-40,
.sect-45,
.sect-46,
.sect-47,
.sect-48,
.sect-55,
.sect-56 {
    background-color: #000;
}

.sect-10 .text,
.sect-14 .text,
.sect-19 .text,
.sect-27 .text,
.sect-42 .text,
.sect-56 .text {
    position: relative;
    top: 10%;
    z-index: 1000;
}

.sect-10 video,
.sect-14 video,
.sect-19 video,
.sect-27 video,
.sect-42 video,
.sect-56 video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

.sect-5 video,
.sect-29 video,
.sect-31 video {
    position: relative;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    z-index: 1;
}

.sect-5 video,
.sect-31 video {
    margin-top: 10%;
}

.sect-38 .center {
    position: relative;
    top: -10%;
    width: 63rem;
    height: 17rem;
    background-image: url("assets/38-slide-news.png");
    background-size: contain;
    margin: 10rem auto;
}

.sect-38 {
    background-image: url("assets/38-slide-nature.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sect-47 .center {
    position: relative;
    top: -10%;
    width: 18rem;
    height: 17rem;
    background-image: url("assets/47-slide-twitter.png");
    background-size: contain;
    margin: 10rem auto;
}

.sect-46 .center {
    position: relative;
    top: -10%;
    width: 18rem;
    height: 17rem;
    background-image: url("assets/46-slide-hush.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10rem auto;
}

.sect-48 .center {
    position: relative;
    top: -10%;
    width: 18rem;
    height: 10rem;
    background-image: url("assets/48-slide-reviews.png");
    background-size: contain;
    background-repeat: no repeat;
    margin-left: 10px;
    margin: 10rem auto;
}

.video-container {
    top: 100px;
}

.sect-10 iframe,
.sect-19 iframe,
.sect-14 iframe,
.sect-27 iframe,
.sect-29 iframe {
    position: relative;
    z-index: 1000;
    width: 100vw;
    height: 80px;
}

.sect-13 {
    background-image: url("assets/13-slide-bottle.jpg");
    background-size: cover;
}

.sect-13 .center {
    position: relative;
    top: -10%;
    width: 18rem;
    height: 18rem;
    background-image: url("assets/13-slide-center.png");
    background-size: contain;
    margin: 10rem auto;
}

.sect-13 .text {
    position: relative;
    top: -10rem;
}

.sect-20 .text,
.sect-22 .text {
    position: relative;
    top: 20%;
}

.sect-17 .text {
    margin-top: 0;
}

.sect-17 iframe {
    margin-top: 5%;
}

.sect-17 {
    text-align: center;
}

.sect-18 .text {
    position: relative;
    top: 15%;
    text-align: center;
}

.sect-16 {
    background-image: url("assets/16-slide-records.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sect-19 {
    background-image: url("assets/19-slide-recording.png");
    background-size: cover;
    background-position: 40%;
}

.sect-21 {
    background-image: url("assets/experiment.png");
    background-size: contain;
}

.sect-24 img,
.sect-28 img {
    height: 70%;
    width: 80%;
}

.sect-5-1 .text,
.sect-43 .text {
    position: relative;
    top: 60%;
}

.sect-43 img, .sect-53 img {
        width: 90%
    }

.sect-24 .text-title,
.sect-28 .text-title,
.sect-43 .text-title,
.sect-53 .text-title {
    position: relative;
    margin: 0% 2% 0% 2%;
    padding: 3% 3% 3% 3%;
    font-family: 'nyt-cheltenham', georgia, 'times new roman', times;
    font-size: 22px;
    line-height: 20px;
    background-color: #EDDCC4;
    color: #000000;
    text-align: center;
}

/*Tablet Styles */
@media only screen and (min-width:768px) {
    .title h1 {
        margin: 5% 30% 0% 5%;
        font-size: 60px;
        line-height: 60px;
    }

    .text {
        width: 700px;
        margin: 0 auto;
    }

    .sect-3 iframe, .sect-39 iframe {
        width: 700px;
        height: 60vh;
    }

    .sect-3 .text, .sect-39 .text {
        text-align: center;
    }

    .sect-6 img,
    .sect-11 img,
    .sect-34 img,
    .sect-44 img,
    .sect-54 img {
        margin-top: 10%;
    }

    .sect-6 h1,
    .sect-11 h1,
    .sect-34 h1,
    .sect-44 h1,
    .sect-54 h1 {
        margin-top: -62%;
    }

    .sect-24 img,
    .sect-28 img {
        width: 75%;
    }
    
    .sect-43 img, .sect-53 img {
        width: 80%
    }
    
}

/*Desktop Styles*/

@media only screen and (min-width:960px) {
    .title h1 {
        margin: 5% 20% 0% 5%;
        font-size: 85px;
        line-height: 90px;
    }

    .sect-6,
    .sect-11,
    .sect-34,
    .sect-44,
    .sect-54 {
        text-align: center;
    }

    .sect-6 img,
    .sect-11 img,
    .sect-34 img,
    .sect-44 img,
    .sect-54 img {
        margin-top: 5%;
        width: 960px;
        height: auto;
    }

    .sect-6 h1,
    .sect-11 h1,
    .sect-34 h1,
    .sect-44 h1,
    .sect-54 h1 {
        margin-top: -590px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 680px;
        font-size: 90px;
    }

    .sect-24 img {
        width: 50%;
    }

    .sect-28 img {
        width: 40%;
    }
    
    .sect-43 img, .sect-53 img {
        width: 70%;
    }
}
