section {
  height:100vh;
  width:100vw;
  background-color:#fa00ff;
  position:fixed;
  top:0;
  left:0;
  visibility:hidden;
}
section.visible {
  visibility:visible;
}
.sect-1 {
background-color:#faff00;
}
.sect-2 {
  background-color:#2bff00;
}
button {
  background-color: #0003ff;
  color: #fff;
}
.jordan {
  background-color:#ad00ff;
}
p {
  font-size: 40px;
  position: absolute;
  top:100px;
  left: 60px;
}
.sect-1 p {
  color: red;
  top:400px;
  left:0px;
  right: 40px;
}