.container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #000000;
	position: absolute;
}

section {
  height:100vh;
  width:100vw;
  position:fixed;
  top:0;
  left:0;
  visibility:hidden;
}

section.visible {
  visibility:visible;
}

button {
	background-color: #0003ff;
	color: #fff;
}


.title {
	background-image: url("assets/title-slide-bg-mobile.png");
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.title h1 {
margin: 5% 14% 0% 5%;
font-family: Ultra;
color:#EDDCC4;
font-size: 46px;
text-align: left;
}

.title p {
position: absolute;
right: 1rem;
top: 43rem;
font-family: Sudbury Book;
font-weight: bold;
color: #EDDCC4;
}

.sect-1 {
  background-image: url("assets/ocean.png");
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.quote1 {
	font-weight: 500;
	font-family: 'nyt-cheltenham', georgia, 'times new roman', times, serif;
	font-size: 16px;
	line-height: 22px;
	box-shadow: 10px 6px 0 #000000, -10px -6px 0 #000000, 10px -6px 0 #000000, -10px 6px 0 #000000;
	margin-left: auto;
	margin-right: auto;
	background: #000000;
	letter-spacing: 0;
	border-bottom: none;
	color: #FFFFFF;
	display: block;
	position: relative;
}

.sect-2 {
	background-color: #000000;
}

.quote2, quote5, quote6 {
	letter-spacing: 0.01em;
	font-size: 20px;
	line-height: 30px;
	max-width: 660px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-style: normal;
	margin-top: 100px;
	color: #fff;
	font-family: 'nyt-cheltenham-sh', 'nyt-cheltenham', georgia, 'times new roman', times, serif;
	font-weight: 100;
	text-align: justify;
}

.quote5 {
	letter-spacing: 0.01em;
	font-size: 20px;
	line-height: 30px;
	max-width: 660px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-style: normal;
	margin-top: 100px;
	color: #fff;
	font-family: 'nyt-cheltenham-sh', 'nyt-cheltenham', georgia, 'times new roman', times, serif;
	font-weight: 100;
	text-align: justify;
}

.quote6 {
	letter-spacing: 0.01em;
	font-size: 20px;
	line-height: 30px;
	max-width: 660px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-style: normal;
	margin-top: 100px;
	color: #fff;
	font-family: 'nyt-cheltenham-sh', 'nyt-cheltenham', georgia, 'times new roman', times, serif;
	font-weight: 100;
	text-align: justify;
}

iframe {
	margin-top:2.5%;
	width: 80vw;
	height:50vh;
}

.video-page {
	width: 100vw;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url("assets/zoomed_background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*.sect-4 {
  background-image: url("assets/environments_advertisement.png");
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	.quote4 {
	 	font-weight: 500;
		font-family: 'nyt-cheltenham', georgia, 'times new roman', times, serif;
		font-size: 16px;
		line-height: 22px;
		box-shadow: 10px 6px 0 #000000, -10px -6px 0 #000000, 10px -6px 0 #000000, -10px 6px 0 #000000;
		background: #000000;
		letter-spacing: 0;
		border-bottom: none;
		color: #FFFFFF;
		display: block;
		position: relative;
		margin-top: 725px;
	}

	.sect-7 {
	  background-image: url("assets/pyschologically_ultimate_seashore.png");
		height: 200px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-position: center;
	}

	.quote7-1, .quote7-2 {
		font-weight: 500;
		font-family: 'nyt-cheltenham', georgia, 'times new roman', times, serif;
		font-size: 16px;
		line-height: 22px;
		box-shadow: 10px 6px 0 #000000, -10px -6px 0 #000000, 10px -6px 0 #000000, -10px 6px 0 #000000;
		margin-left: auto;
		margin-right: auto;
		background: #000000;
		letter-spacing: 0;
		border-bottom: none;
		color: #FFFFFF;
		display: block;
		position: relative;
	}

}*/

.sect-4 {
	background-image: url("assets/4-slide-bg.png");
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.sect-4 .center {
width: 18rem;
height: 18rem;
background-image: url("assets/4-slide-chair.png");
background-size: contain;
margin: 10rem auto;
}

.sect-4 .text {
position: relative;
top: -10rem;
margin: 0% 2% 0% 2%;
font-family: Sudbury Book;
font-size: 16px;
line-height: 20px;
background-color: 000;
color: fff;
}

.sect5 .top {
position: relative;
top: 0%;
left: 5%;
z-index: 1;
height: 16rem;
width: 20rem;
background-image: url("assets/5-slide-rochester.jpeg");
background-size: contain;
}

.sect5 .middle {
position: absolute;
top: 60%;
right: -10%;
z-index: 2;
height: 16rem;
width: 19rem;
background-image: url("assets/5-slide-artschool.jpg");
background-size: contain;
}

.sect5 .bottom {
position: absolute;
top: 130%;
left: 5%;
z-index: 1;
height: 18rem;
width: 13.5rem;
background-image: url("assets/5-slide-usarmy.jpg");
background-size: contain;
}

.sect5 .text {
position: absolute;
top: 210%;
z-index: 4;
margin: 0% 2% 0% 2%;
font-family: Sudbury Book;
font-size: 16px;
line-height: 20px;
background-color: 000;
color: fff;
}
